// _themes.scss
$light-theme: (
    primary: #ff3e00,
    secondary: #fd3ed0,
    background: #ffffff,
    text: #000000,
);

$dark-theme: (
    primary: #ff9100,
    secondary: #ff3eb5,
    background: #121212,
    text: #ffffff,
);